aiofiles
aiohttp
aria2p
async_generator
asyncurban
beautifulsoup4
bitlyshortener
bs4
bwb
cairosvg
cffi
cfscrape
colour
covid
cowpy
cryptg
deezloader
dnspython
emoji
fonttools
geopy
git+https://github.com/AnggaR96s/youtube-dl.git
git+https://github.com/bisoncorps/search-engine-parser.git
gitpython
glitch_this
google-api-python-client
google-auth-oauthlib
googletrans
gsearch
gTTS
gTTS-token
hachoir
heroku3
html_telegraph_poster
httplib2
humanize
jikanpy
justwatch
lottie
lxml
LyricsGenius
nekos.py
oauth2client
pendulum
Pillow
psutil
psycopg2
psycopg2-binary
pyaztro
pybase64
PyDictionary
pyfiglet
PyGithub
pylast
PyLyrics
pySmartDL
python-barcode
python-dateutil
python-dotenv
python-magic
pytube
pytz
qrcode
regex
requests
selenium
speedtest-cli
sqlalchemy
telegraph
telethon
telethon-session-sqlalchemy
twitter_scraper
urbandict
validators
vcsi
wand
wget
wikipedia
youtube_search
