aiofiles
aiohttp
aria2p
async_generator
asyncurban
beautifulsoup4
bitlyshortener
bs4
bwb
cairosvg
cffi
cfscrape
colour
covid
cowpy
cryptg
distro
dnspython
emoji
fonttools
geopy
git+https://github.com/tomyprs/deezloader.git
gitpython
glitch_this
google-api-python-client
google-auth-oauthlib
google_trans_new
gsearch
gTTS
gTTS-token
hachoir
heroku3
html_telegraph_poster
httplib2
humanize
jikanpy
js2py
justwatch
lk21
lottie
lxml
LyricsGenius
nekos.py
oauth2client
pendulum
Pillow
psutil
psycopg2
psycopg2-binary
py-tgcalls-wrapper
pyaztro
pybase64
PyDictionary
pyfiglet
PyGithub
pyjokes
pylast
PyLyrics
pyrogram
pySmartDL
python-barcode
python-dateutil
python-decouple
python-dotenv
python-magic
pytube
pytz
qrcode
regex
requests
scipy
search-engine-parser
selenium
speedtest-cli
sqlalchemy
telegraph
telethon
telethon-session-sqlalchemy
twitter_scraper
urbandict
validators
vcsi
wand
wget
wikipedia
wordcloud
youtube-dl
youtube_search
